<!DOCTYPE html>
<html lang="en">

<head>
  {{!-- Default metaData --}}
  {{!-- <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GigPub</title>  --}}
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">

  {{!-- GigPub1.0 metaData --}}
  {{!-- Note from Trevor: there is a console warning regarding tailwind that I am ignoring until it is discused what, if any, css framework we are using --}}
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GigPub Connecting Great Music and Great Beer.</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Kanit:wght@100&display=swap" rel="stylesheet">
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

{{!-- having trouble adding background image --}}
<body style="background-image: url(../images/background.png)">
  <div>
    <header>
      <h1>GigPub</h1>
      <h3>Connecting great music and great beer.</h3>
    </header>
    <nav>
      <a href="/">Home</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div class="gallery">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
  </div>
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/script.js"></script>
</body>

</html>