<!DOCTYPE html>
<html lang="en">

<head>
  <link rel="stylesheet" type="text/css" href="/css/jass.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>GigPub Connecting Great Music and Great Beer.</title>
  <script src="https://cdn.tailwindcss.com"></script>
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="/css/style.css" />
</head>

<body class="background-img">
  <div>
    <header>
      <h1 class="text-center text-7xl font-semibold hover:font-bold text-black">GigPub</h1>
      <h3 class="text-center h-10 mt-10 text-4xl italic text-black">Connecting great music and great beer.</h3>
    </header>
    <nav class="bg-white opacity-75 hover:font-bold">
      <a href="/">Home</a>
      {{#if loggedIn}}
      <button id="logout" class="btn-no-style">Logout</button>
      {{else}}
      <a href="/login">Login</a>
      {{/if}}
    </nav>
    <main>
      <div class="login-area">
        {{{body}}}
      </div>
    </main>
    {{#if loggedIn}}
  </div>
  <script src="/js/logout.js"></script>
  {{/if}}
  <script src="/js/script.js"></script>
</body>

</html>