<div class="search">
  <input 
    id="search" 
    type="text" 
    onkeypress="clickPress(event)" 
    class="search-input border-solid border-2 border-black w-96 h-14 rounded-lg" 
    placeholder=" Search City">
  </input>
</div>
