<<<<<<< HEAD
{{#if loggedIn}}
<div class="search-homepage">
  {{> search}}
</div>
{{else}}
<div class="login-msg">You need to login!</div>
{{/if}}
=======
{{!-- {{#if loggedIn}} --}}
{{> search}}
{{!-- {{else}}
<div>You need to login!</div> --}}
{{!-- {{/if}} --}}
>>>>>>> d452bec62783fbaa625be2ee65abe687fb3b2985
