:root {
  --primary: #3d5852;
  --secondary: #86938f;
  --tertiary: #5e877f;
  --quatrinary: #6c6b67;
  --light: #e3e4e3;
  --dark: #182c23;
  --error: rgb(228, 46, 1);
  --border-radius: 0.3rem;
}

body {
  font-family: Arial;
  margin: 0;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  justify-content: flex-start;
}

.background-img {
  background-image: url(../images/background.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}

a {
  color: var(--dark);
  text-decoration: none;
}

a:visited {
  color: inherit;
}

header {
  padding: 40px;
  text-align: center;
  color: var(--light);
}

main {
  display: flex;
  flex-wrap: wrap;
  flex-grow: 1;
}

nav {
  display: flex;
  background-color: var(--secondary);
}

nav a {
  color: var(--light);
  padding: 14px 20px;
  text-decoration: none;
  text-align: center;
}

nav a:hover {
  color: var(--secondary);
  background-color: var(--dark);
}

.btn-no-style {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  text-decoration: none;
  font-size: 100%;
  transition: color 0.1s;
  margin-left: 16px;
}

img {
  max-width: 100%;
  height: auto;
}

.painting {
  width: 50%;
  /* background-color: white; */
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 25px;
}

.painting-details {
  text-align: center;
  padding: 10px 20px;
  font-weight: bold;
}

/* LAYOUT */
.container {
  display: flex;
  flex-flow: column wrap;
  align-content: flex-start;
  align-items: center;
}

.login-signup {
  padding-left: 35%;
}

.body-handlebars {
  flex: 4;
  margin-top: 60px;
  /* padding-left: 0; */
  display: flex;
  flex-flow: row wrap;
  /* justify-content: center;
  align-items: center; */
}

.search-homepage {
  padding-left: 40%;
}

.login-msg {
  padding-left: 43%;
  font-size: 30px;
  font-weight: bold;
  color: red;
}

aside {
  padding-left: 20px;
  padding-right: 40px;
}

.event-area {
  width: 70%;
  display: flex;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.event-cards {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  /* display: grid;
  grid-template-columns: auto auto auto; */
}

/* CARDS displaying event info */
.card {
  border: 7px double var(--dark);
  border-radius: 10px;
  color: var(--dark);
}

.login-card {
  margin: 0 0 20px 0;
  flex: 0 0 50%;
  max-width: 50%;
  padding: 5px;
  border: 3px solid var(--dark);
  border-radius: var(--border-radius);
  border-style: double;
  border-width: thick;
  color: var(--light);
}

.collapsible {
  color: black;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: center;
  outline: none;
  font-size: 15px;
}

button:hover {
  background-color: lightgrey;
  font-weight: bold;
}

.content {
  padding: 0 18px;
  display: none;
  overflow: hidden;
  background-color: #f1f1f1;
}

.event-date {
  position: absolute;
  right: 30px;
}

.event-name {
  font-size: 20px;
  font-weight: bold;
}

.username-textbox {
  padding: 5px;
}

.event-img {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

img:hover {
  width: 450px;
}

a:hover {
  font-weight: bold;
  font-size: 16px;
  background-color: lightgrey;
  color: blue
}