.event-container {
    display: none;
}

.dates {
    position: absolute;
    right: 30px;
}

.venue-name {
    padding: 15px;
    
}

a:hover {
    color: black;
}

li a:hover {
    color:fuchsia;
}

.saved-city:hover {
    background-color: rgb(38, 38, 100);
    color: white;
    border-radius: 5px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: large;
}

.saved-city-container {
    text-align: center;
}

.saved-city {
    color: blue;
    font-weight: bold;
}

.brewery-list:hover {
    color: blue;
    border-bottom: solid 3px blue;
    font-weight: bold;
    font-size: 18px;
}

.modal-header {
    font-size: 22px;
    font-weight: bolder;
}